extends layout
block scripts
    script(type='text/javascript', src='static/js/lib/jquery-1.9.1.min.js')
block content
    div(class='container-fluid')
    div(class='row-fluid')
        div(class='span12')
            div(style='margin: 0px auto; width: 480px;')
                #events
                    for event in events
                        hr
                        span(style='font-size:12px; color: #888; padding:5px padding-left: 10px;')=event.time
                        br
                        span(style='font-size:12px; color: #888; padding:5px padding-left: 10px;')=event.from
                        br
                        span(style='font-size:12px; color: #888; padding:5px padding-left: 10px;')=event.to
                        p=event.text
    div(class='row-fluid')
        div(class='span12')
            div(style='margin: 0px auto; width: 480px;')
                form(action='/events', method='POST')
                    input(type='text' class='field span12 pull-right' name='friends' placeholder='Enter friends you want to invite')
                    input(type='date',class='field span12 pull-right' name='eventdate' value='2014-05-01')
                    input(type='time',class='field span12 pull-right' name='eventtime' value='08:00')
                    textarea(class='field-span12' rows='4' name='event' placeholder="Enter your event description here")
                    div(class='span2 pull-right')
                        button(type='submit' class='btn btn-primary btn-block') Invite

