extends layout
block scripts
    script(type='text/javascript', src='static/js/lib/jquery-1.9.1.min.js')
block content
    div(class='container-fluid')
    div(class='row-fluid')
        div(class='span12')
            div(style='margin: 0px auto; width: 480px;')
                #messages
                    for message in messages
                        hr
                        span(style='font-size:12px; color: #888; padding:5px padding-left: 10px;')=message.time
                        br
                        span(style='font-size:12px; color: #888; padding:5px padding-left: 10px;')=message.from
                        p=message.text
    div(class='row-fluid')
        div(class='span12')
            div(style='margin: 0px auto; width: 480px;')
                form(action='/send_message', method='POST')
                    input(type='text' class='field span12 pull-right' name='recepient' placeholder='Enter recepient here')
                    textarea(class='field-span12' rows='4' name='status' placeholder="Enter your private message here")
                    div(class='span2 pull-right')
                        button(type='submit' class='btn btn-primary btn-block') Send

